<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"  th:href="@{css/styles.css}" >
</head>
<body>

  <form action="/companyLogin/jobPost" method="post">
  <section class="login">
    <label>Compnay Name:</label>
    <input type="text" name="cName" placeholder="company name"> <br>
    
     <div class="address">
       <label>City:</label>
       <input type="text" name="city" placeholder="enter city"> <br>
        <label>State:</label>
       <input type="text" name="state" placeholder="enter state"> <br>
        <label>Zipcode:</label>
       <input type="text" name="zipcode" placeholder="enter zipcode"> <br>
       <label>Country:</label>
       <input type="text" name="country" placeholder="enter country">
     </div>
     
     <button type="submit">Login</button>
     
     </section>
  </form>
</body>
</html>