<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--this is a header from a fragment file-->
<div th:replace="fragments/header"></div>
<body>
<div th:replace="fragments/template"></div>


<div class="login-form">

    <form action="">
        <label for="">User Name</label> <br>
        <input type="text" name="username" placeholder="Enter username"> <br>
        <label for="">Password</label> <br>
        <input type="text" name="password" placeholder="Enter password"> <br>
        <button type="submit">Login</button>
        <p>Dont have an account? click <a href="CompanySignup"> here</a> to create an account</p>
</div>
</form>
</body>
<div th:replace="fragments/footer :: foot"></div>
</html>