<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>a test page to view jobs added</title>
</head>
<body>
 
  <h1>List of jobs added by a company</h1>
 
  <div th:each="jobs: ${job}">
     <h2 th:text="${jobs.title}"></h2>
     <h2 th:text="${jobs.companyName}"></h2>
     <h2 th:text="${jobs.salary}"></h2>
     <h2 th:text="${jobs.requirement}"></h2>
     <h2 th:text="${jobs.description}"></h2>
     
     <h2 th:text="${jobs.address.city}"></h2>
     <h2 th:text="${jobs.address.state}"></h2>
     <h2 th:text="${jobs.address.zipcode}"></h2>
     <h2 th:text="${jobs.address.country}"></h2>

  </div>


   
</body>
</html>